<div class="container">
	<div class="row">
		<div class="col-xs-3">
				<h1>User info</h1>
			<div><%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %></div>
			<div class="table">
				 <table class="table border-top">
				 	<tr>
				  		<td>name</td>
				  		<td><%= user.name %></td>
				  	</tr>
				  	<tr>
				  		<td>introduction</td>
				  		<td><%= user.introduction %></td>
				  	</tr>
				  </table>
			</div>
			<div class="form-control btn btn-default">
				<% if user == current_user %>
					<%= link_to "", edit_user_path(user.id), class: "glyphicon glyphicon-wrench", 'aria-hidden' => true %>
				<% else %>
					<%= link_to "", user_path(current_user.id), class: "glyphicon glyphicon-wrench", 'aria-hidden' => true %>
				<% end %>

			</div>
			<h1>New book</h1>
			<div class="book-form">
				  <%= form_with model:book, local:true do |f| %>
				  	<label for="title">Title</label>
						<%= f.text_field :title, class:"form-control", placeholder: "タイトル" %>
					 	<label for="option">Option</label>
					 	<%= f.text_area :body, class:"form-control", placeholder: "意見" %>
					 	<%= f.submit "Create Book", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
				  <% end %>
			</div>
		</div>

		<div class="col-xs-9">