<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-2">
			<div class="row Userinfo">
				<div class="col-xs-12">
				  <%= form_with model:@user, local:true do |f| %>
					<h1>User info</h1>
					<span>name</span>
					<span><%= f.text_field :@user.name %></span>
					<p>image</p>
					<div class="user-edit-image">
        	        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
    	      		</div>
					<label for="user-introduction">introduction</label>
				  	<%= f.text_area :introduction, class:"form-control" %>
				  	<%= f.submit "Update User", class:"btn btn-default btn-block btn-base-1 mt-20" %>
				  <% end %>
				</div>
			</div>
		</div>
  </div>
</div>
