<% if @book.errors.any? %>
  <p>error!!</p>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
		  <%= form_with model:@book, local:true do |f| %>
			  <div class="row">
				  <div class="col-xs-12">
				    <h1> Editing Book</h1>
				  </div>
				</div>
				<div class="row">
				  <div class="col-xs-12">
            <p>Title</p>
          </div>
        </div>
            <%= f.text_field :title, class:"form-control" %>
        <div class="row">
				  <div class="col-xs-12">
            <p>Opinion</p>
          </div>
        </div>
            <%= f.text_area :body, class:"form-control" %>
        <%= f.submit "Update Book", class:"btn btn-primary form-control" %>
        <div class="row">
				  <div class="col-xs-12">
            <%= link_to "Show", book_path(@book.id) %>
            <%= link_to "Back", books_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>