<%= render 'users/new', users: @users %>
    <h1>Books</h1>
    <% @users.each do |user| %>
        <table>
            <tr>
                <col-xs-1><td><%= user.@profile_image %></td></col-xs-1>
                <col-xs-1><td><%= user.@book_title %></td></col-xs-1>
                <col-xs-1><td><%= user.@book_body %></td></col-xs-1>
                <col-xs-1>
                    <% if post_comment.user == current_user %>
                        <td><%= link_to "Edit", edit_user_book_path(params[:id]), class: "btn btn-success" %></td>
                    <% end %>
                </col-xs-1>
                <col-xs-1>
                    <% if post_comment.user == current_user %>
                        <td><%= link_to "Delete", user_book_path(params[:id]), method: :delete, class: "btn btn-danger" %></td>
                    <% end %>
                </col-xs-1>
            </tr>
        </table>
    <% end %>

		</div>
	</div>
</div>
